<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dicas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Prática de exercícios para o emagrecimento</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      É sempre aconselhável que seja realizado qualquer tipo de atividade física juntamente com uma dieta, fora todos os benefícios que a realização de um exercício trás, a queima de calorias ajuda significantemente para a perda de peso de forma saudável.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>

</ion-footer>