<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input formControlName="name" type="string"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Idade</ion-label>
              <ion-input formControlName="age" type="number"></ion-input>
            </ion-item>
            <ion-radio-group formControlName="gender">
              <ion-item>
                <ion-label>Masculino</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Feminino</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-item>
              <ion-label position="floating">Peso</ion-label>
              <ion-input formControlName="weight" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Altura(cm)</ion-label>
              <ion-input formControlName="height" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Objetivo</ion-label>
              <ion-select formControlName="goal" interface="action-sheet">
                <ion-select-option [value]="1">Emagrecer</ion-select-option>
                <ion-select-option [value]="2">Emagrecer Agressivo</ion-select-option>
                <ion-select-option [value]="3">Manter
                </ion-select-option>
                <ion-select-option [value]="4">Ganhos “Secos”
                </ion-select-option>
                <ion-select-option [value]="5">Ganhos agressivos
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Itensidade de exercício</ion-label>
              <ion-select formControlName="exercise_intensity" interface="action-sheet">
                <ion-select-option [value]="1">Sedentário: praticamente não faz nada</ion-select-option>
                <ion-select-option [value]="2">Levemente ativo: exercícios leves 1-3x por semana</ion-select-option>
                <ion-select-option [value]="3">Moderadamente ativo: exercícios moderados de 3-5x por semana
                </ion-select-option>
                <ion-select-option [value]="4">Muito ativo: exercícios pesados/esportes 6-7x por semana
                </ion-select-option>
                <ion-select-option [value]="5">Extremamente ativo: exercícios muito pesados, treinando duas vezes ao dia
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Itensidade de trabalho</ion-label>
              <ion-select formControlName="work_intensity" interface="action-sheet">
                <ion-select-option [value]="1">Intesidade do trabalho 1</ion-select-option>
                <ion-select-option [value]="2">Intesidade do trabalho 2</ion-select-option>
                <ion-select-option [value]="3">Intesidade do trabalho 3</ion-select-option>
                <ion-select-option [value]="4">Intesidade do trabalho 4</ion-select-option>
                <ion-select-option [value]="5">Intesidade do trabalho 5</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block">Gravar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>