<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Minha Dieta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button expand="full" [disabled]="!generatedDiet" (click)="generateDietFoods()">Gerar dieta</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Minha dieta</ion-card-title>
    </ion-card-header>
    <!-- <ion-list> -->
    <ion-card *ngFor="let item of diet.foods; let i = index">
      <ion-card-header color="dark">{{ item.name }}
        <ion-icon style="float: right" (click)="removeDiet({food: item, indice: i})" name="trash"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngIf="!item.portion">
          <ion-label>Gramas(g):</ion-label>
          <ion-input type="number" placeholder="100" [(ngModel)]="item.amount"
            (ionChange)="changedAmount({food: item, indice: i})"></ion-input>
        </ion-item>
        <ion-item *ngIf="item.portion">
          <ion-label>Porção:</ion-label>
          <ion-input type="number" placeholder="1" [(ngModel)]="item.amount"
            (ionChange)="changedAmount({food: item, indice: i})"></ion-input>
        </ion-item>
        <ion-item lines="none">
          Proteina:
          {{ item.protein | number: '1.2-2' }}g -
          Carboidrato: {{ item.carbohydrate | number: '1.2-2' }}g - Gordura: {{ item.fat | number: '1.2-2'}}g
        </ion-item>
      </ion-card-content>
    </ion-card>
    <!-- </ion-list> -->
    <ion-card-content>
      <ion-button expand="full" (click)="openModal()">Adicionar alimento</ion-button>
      <ion-item lines="none">
        Calorias: {{ diet.dietBalance?.currentCalories | number: '1.2-2' }}KCal /
        {{ diet.dietBalance?.totalDayCalories | number: '1.2-2' }}KCal
      </ion-item>
      <ion-item lines="none">
        Proteinas: {{ diet.dietBalance?.currentProtein | number: '1.2-2' }}g /
        {{ diet.dietBalance?.totalDayProtein | number: '1.2-2' }}g
      </ion-item>
      <ion-item lines="none">
        Carboidratos: {{ diet.dietBalance?.currentCarbohydrate | number: '1.2-2' }}g /
        {{ diet.dietBalance?.totalDayCarbohydrate | number: '1.2-2' }}g
      </ion-item>
      <ion-item lines="none">
        Gordura: {{ diet.dietBalance?.currentFat | number: '1.2-2' }}g /
        {{ diet.dietBalance?.totalDayFat | number: '1.2-2' }}g
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Data: </ion-label>
        <ion-datetime [disabled]="isEditing" displayFormat="DD/MM/YYYY" placeholder="Selecione a data"
          [(ngModel)]="diet.date" [min]="minSelectableDate"></ion-datetime>
      </ion-item>
      <ion-button expand="full" [disabled]="!diet.foods || dateInvalid" (click)="saveDiet()">Salvar dieta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>