<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Meus Amigos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [formControl]="searchControl" showCancelButton></ion-searchbar>

  <ion-list>
    <ion-card *ngFor="let contact of contacts" (click)="addContact(contact)">
      <ion-card-header routerLink="tips-add" color="dark">{{ contact.name }}</ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>