<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dietas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [formControl]="searchControl" showCancelButton></ion-searchbar>
  <ion-card *ngFor="let item of listDiet | async">
    <ion-card-header (click)="openEditDiet(item)" color="dark">
      {{item.date}}
    </ion-card-header>
    <!-- <ion-card-header color="white">
      <ion-icon (click)="removeDiet(item)" name="trash"></ion-icon>
    </ion-card-header> -->
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="diet-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>