<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>DietaFlex</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/diet">
            <ion-icon name="restaurant"></ion-icon>
            <ion-label>Dieta</ion-label>
          </ion-item>
          <ion-item routerLink="/contact">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Amigos</ion-label>
          </ion-item>
          <ion-item routerLink="/user-profile">
            <ion-icon name="construct"></ion-icon>
            <ion-label>Perfil usuario</ion-label>
          </ion-item>
          <ion-item routerLink="/tips">
            <ion-icon name="help"></ion-icon>
            <ion-label>Dicas</ion-label>
          </ion-item>
          <ion-item (click)="logout()" button>
            <ion-icon name="exit"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>