<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>DietaFlex</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-label>Olá {{ user?.name }}</ion-label>
          </ion-item>
          <ion-item routerLink="/diet-list">
            <ion-icon name="restaurant"></ion-icon>
            <ion-label>Dietas</ion-label>
          </ion-item>
          <ion-item routerLink="/historic-list">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Histórico</ion-label>
          </ion-item>
          <ion-item routerLink="/dashboard">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
          <ion-item routerLink="/food-list">
            <ion-icon name="restaurant"></ion-icon>
            <ion-label>Alimentos</ion-label>
          </ion-item>
          <ion-item routerLink="/user-profile">
            <ion-icon name="construct"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>
          <ion-item (click)="logout()" button>
            <ion-icon name="exit"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>