<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Minha Dieta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button expand="full" [disabled]="!dietReady" (click)="generateDiet()">Gerar dieta</ion-button>
      <ion-button expand="full" [disabled]="!dietResult" (click)="saveDiet()">Salvar dieta</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Minha dieta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-card *ngFor="let item of dietResult">
          <ion-card-header color="dark">{{ item.name }}</ion-card-header>
          <ion-card-content>
            <ion-grid>
              <span *ngIf="!item.portion">Gramas: {{ item.amount | number: '1.2-2' }}g</span>
              <span *ngIf="item.portion">Porção: {{ item.amount }}</span> - Proteina:
              {{ item.protein | number: '1.2-2' }}g -
              Carboidrato: {{ item.carbohydrate | number: '1.2-2' }}g - Gordura: {{ item.fat | number: '1.2-2'}}g
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let item of food; let i = index">
          <ion-card-header color="dark">{{ item.name }}</ion-card-header>
          <ion-card-content>
            <ion-grid>
              <span *ngIf="!item.portion">Gramas: <ion-input type="number" placeholder="100" [(ngModel)]="item.amount"
                  (ionChange)="changedAmount({value: $event.detail.value, food: item, indice: i})"></ion-input>g </span>
              <span *ngIf="item.portion">Porção: <ion-input type="number" placeholder="1"
                  (ionChange)="changedAmount({value: $event.detail.value, food: item, indice: i})"></ion-input></span> -
              Proteina:
              {{ item.protein | number: '1.2-2' }}g -
              Carboidrato: {{ item.carbohydrate | number: '1.2-2' }}g - Gordura: {{ item.fat | number: '1.2-2'}}g
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-button *ngIf="dietResult" (click)="openModal()">Adicionar alimento</ion-button>
      <br>
      Calorias: {{ dietAmount.calories | number: '1.2-2' }}KCal /
      {{ totalDietAmount.totalCalories | number: '1.2-2' }}KCal<br>
      Proteinas: {{ dietAmount.protein | number: '1.2-2' }}g / {{ totalDietAmount.totalProtein | number: '1.2-2' }}g<br>
      Carboidratos: {{ dietAmount.carbohydrate | number: '1.2-2' }}g /
      {{ totalDietAmount.totalCarbohydrate | number: '1.2-2' }}g<br>
      Gordura: {{ dietAmount.fat | number: '1.2-2' }}g / {{ totalDietAmount.totalFat | number: '1.2-2' }}g<br>
    </ion-card-content>
  </ion-card>
</ion-content>