<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Histórico de medidas</ion-card-title>
      <ion-card-subtitle>Evolução das medidas lançadas:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #historicDashboard></canvas>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Ultimas dietas</ion-card-title>
      <ion-card-subtitle>Demonstração do deficit e superávit calórico:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #dietDashboard></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>