<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Histórico de medidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [formControl]="searchControl" showCancelButton></ion-searchbar>
  <ion-card *ngFor="let item of listHistoric | async">
    <ion-card-header (click)="openEditHistoric(item)" color="dark">
      <div>{{item.time}}</div>
      <div>Peso: {{item.weight}}</div>
      <div>Bíceps: {{item.biceps}}</div>
      <div>Coxa: {{item.thigh}}</div>
      <div>Panturrilha: {{item.calf}}</div>
      <div>Barriga: {{item.belly}}</div>
      <div>Peito: {{item.chest}}</div>
    </ion-card-header>
    <ion-card-header color="white">
      <ion-icon (click)="openRemoveHistoric(item)" name="trash"></ion-icon>
    </ion-card-header>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="historic-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>