<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="dietToday" (click)="openEditDiet(dietToday)">
      <ion-card-title>Dieta Atual</ion-card-title>
      <ion-card-subtitle>Visualize a sua dia atual: {{dietToday?.date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="!dietToday" (click)="openEditDiet(dietToday)">
      <ion-card-title>Gere sua dieta de hoje!</ion-card-title>
      <ion-card-subtitle>Ao gerar sua dieta, ajuste para que a mesma possa atingir o seu objetivo.</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="openDashboard()">
    <ion-card-header>
      <ion-card-title>Dashboard</ion-card-title>
      <ion-card-subtitle>Verifique sua evolução</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Gráfico de medidas proporciona uma acompanhamento da sua evolução, demonstrando com transparencia os resultados
      obtidos.
    </ion-card-content>
  </ion-card>
</ion-content>